* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
}

.app-header {
  height: 100px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo {
    height: 50px; /* Ajuste a altura da logo conforme necessário */
    margin-right: 20px;
  }

  nav {
    display: flex;
    gap: 20px;

    button {
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background 0.3s;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}

.app-content {
  height: calc(100% - 100px); /* Altura da tela menos a altura do header */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}
