form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1em;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button {
  background-color: lightblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: #87cefa;
  }
}

.cancel-button {
  background-color: #ff9999;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: #ff6666;
  }
}
