@import 'normalize.css/normalize.css';

$off-white: #f8f8f8;
$text-color: #333333;

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    background-color: $off-white;
    color: $text-color;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
